#picture{
  object-fit: cover;
  background-size:contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: auto;
  margin: 2%;
}
#setup{
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

#punchline{
  left: 50%;
  transform: translate(-50%, -110%);
    position: absolute;
}


#content{
  text-align: center;
  }


#size_controller{
  visibility:hidden;
  max-height: 500px;
  width: auto;
}

.imgText{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: black 2px 2px 12px ;
}
